{% extends "app/base.html" %}
{% block title %}{{item.name}}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-2 bg-white-300">
        <img src="{{item.image.url}}" class="rounded-xl object-fill h-68 w-96">
    </div>
    <div class="col-span-2 bg-gray-100 p-6 rounded-xl">
        <h1 class="mb-6 text-3xl">{{item.name}}</h1>
        <p class="text-gray-700"><strong>Price : </strong>{{item.price}}</p>
        <p class="text-gray-700"><strong>Seller : </strong>{{item.created_by.username}}</p>
        {% if item.description %}
        <p class="text-gray-700">
            <strong>Description:</strong>
        {{item.description}}
        </p>
{% endif %}
<a href="#" class="inline-block mt-6 px-6 py-3 text-lg bg-black font-semibold rounded-xl text-white hover:bg-gray-500">Contact Seller</a>
    </div>
</div>
<h1>
    <div class="mt-2 px-3 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center border-b font-serif ">RELATED ARRIVALS</h2>
        <div class="grid grid-cols-3 gap-3">
            {%for item in related_items %}
            <div class="items-center">
                <a href="{% url 'item:detail' item.id %}">
                    <div>
                        <img src="{{item.image.url}}"  class="rounded-t-xl object-fill h-80 w-30 img-center">
                    </div>
                    <div class="p-7 bg-white rounded-b-xl">
                        <h2 class="text-2xl font-serif">{{item.name}}</h2>
                        <p class="text-gray-500 font-serif">Price:{{item.price}}</p>

                    </div>
                </a>
            </div>
            {% endfor %}
            </div>
            </div>
    </h1>
{% endblock %}