{% extends "app/base.html" %}
{% block title %}
Welcome
{% endblock %}

{% block content %}
<h1>
    <div class="mt-2 px-3 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center border-b font-serif ">FRESH ARRIVALS</h2>
        <div class="grid grid-cols-3 gap-3">
            {%for item in items %}
            <div class="items-center">
                <a href="{% url 'item:detail' item.id %}">
                    <div>
                        <img src="{{item.image.url}}"  class="rounded-t-xl object-fill h-80 w-30 img-center">
                    </div>
                    <div class="p-7 bg-white rounded-b-xl">
                        <h2 class="text-2xl font-serif">{{item.name}}</h2>
                        <p class="text-gray-500 font-serif">Price:{{item.price}}</p>

                    </div>
                </a>
            </div>
            {% endfor %}
            </div>
            </div>
            <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
                <h2 class="mb-12 text-2xl text-center border-b font-serif ">Categories</h2>
            <div class="grid grid-cols-3 gap-3 flex items-stretch ">
            
            {% for category in categories %}
            <div>
                <a href="#">
                    
                    <div class="p-7 bg-white rounded-b-xl">
                        <h2 class="text-2xl font-serif">{{category.name}}</h2>
                        <p class="text-gray-500 font-serif">{{category.items.count}}</p>

                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

</div></h1>
{% endblock %}